.controls {
    background: rgb(0, 0, 0);
}

.coverArt {
    width: 3.58813rem;
    height: 3.58813rem;
    border-radius: 10px;
}

.infoContainer {
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
    background: rgb(0, 0, 0);
    height: 13%;
    align-items: center;
}

.infoText {
    display: flex;
    flex-direction: column;
}

.songName {
    color: #FFF;
font-size: 1.02519rem;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 1.23025rem */
}

.artist {
    color: rgba(255, 255, 255, 0.44);
font-size: 0.73225rem;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 0.87875rem */
}