.navOpen {
    overflow: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 0.507);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    width: 100%;
    height: 90%;
    z-index: 10000;
    color: white;
    bottom: 0;
}


.navClosed{
    display: none;
}

.mainBodyOpen {
    overflow: hidden;
    height: 78vh;
}

.mainBody {
    overflow: overlay;
}


@media screen and (min-width: 1020px) {
    .mainBodyOpen{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .mainBody {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

@media screen and (min-width: 2560px) {
    .mainBody {
        display: flex;
        justify-content: center;
        align-items: center;
         min-height: 90vh;
    }
    .mainBodyOpen {
        display: flex;
        justify-content: center;
        align-items: center;
         min-height: 90vh;
    }
}

.iconContainer {
    max-width: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.icon {
    max-width: 2rem;
    max-height: 2rem;
    object-fit: fill;
}

.footerTitle {
    font-size: .8rem;
    font-style: normal;
    font-weight: 200;
    line-height: 120%;
    padding: 2rem 1rem;
    color: white;
}


.headerAndControlsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    background: transparent;
    height: 100vh;
    max-width: 2000px;
}