.navBar {
    color: aliceblue;
    padding: 1rem;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 4rem;
    background: black;
}

.menuIcon {
    display: block;
}

@media screen and (min-width: 1024px) {
    .menuIcon{
         display: none;
        }

    .logo{
        height: 5rem;
        width: 6rem;
        cursor: pointer;
    }
}
